.mf_share
{
	list-style: none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

	.mf_share li
	{
		border: .2em solid #999;
		border-radius: .2em;
		display: inline-block;
		text-align: center;
		white-space: nowrap;
	}

		.mf_share li + li
		{
			margin-top: 0;
			margin-left: .5em;
		}

		.mf_share li a, .mf_share li.share_text
		{
			padding: .1em .6em;
			min-width: 2.8em;
		}

		.mf_share li a
		{
			border-bottom: 0;
			color: inherit;
			display: block;
			text-decoration: none;
		}

			.mf_share li a span
			{
				display: inline-block;
			}

				.mf_share li a span:first-child
				{
					padding-right: .5em;
				}

				.mf_share li a span:last-child
				{
					padding-left: .5em;
				}

	.mf_share .contact
	{
		color: #fff;
	}

		.mf_share .contact:hover
		{
			background: #fff;
			color: #666;
		}

	.mf_share .social
	{
		background: #999;
		color: #fff;
	}

		.mf_share .social:hover
		{
			background: #fff;
		}

	.mf_share .facebook
	{
		background: #3b5998;
		border-color: #3b5998;
	}

		.mf_share .facebook:hover
		{
			color: #3b5998;
		}

	.mf_share .google-plus
	{
		background: #dd4b39;
		border-color: #dd4b39;
	}

		.mf_share .google-plus:hover
		{
			color: #dd4b39;
		}

	.mf_share .linkedin
	{
		background: #1a85bc;
		border-color: #1a85bc;
	}

		.mf_share .linkedin:hover
		{
			color: #1a85bc;
		}

	.mf_share .pinterest
	{
		background: #bd2126;
		border-color: #bd2126;
	}

		.mf_share .pinterest:hover
		{
			color: #bd2126;
		}

	.mf_share .reddit
	{
		background: #cee3f8;
		border-color: #cee3f8;
	}

		.mf_share .reddit:hover
		{
			color: #cee3f8;
		}

	.mf_share .twitter
	{
		background: #55acee;
		border-color: #55acee;
	}

		.mf_share .twitter:hover
		{
			color: #55acee;
		}

/* Theme */
.meta .mf_share
{
	display: inline-block;
}